/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  cursor: none;
}
/*text-shadow*/
.t-shadow {
  text-shadow: 0 0 #000;
}
/*before after*/
.pipe-b-a::before {
  content: "|";
}
.pipe-b-a::after {
  content: "|";
}
/*img opacity*/

.opacity-img {
  opacity: 0.8;
}

/*cursor*/
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #222;
  position: absolute;
  transition: all 0.8s ease;
  transition-property: background, transform;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: saturate(1.8);
  pointer-events: none;
  z-index: 2;
}
